log/
*.iml
.idea
*/.idea
logs/

# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
vendor/
dependency-reduced-pom.xml
*/generatorConfig.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files
*.ipr
*.iws
*.idea
*.out
*.log
*.log.wf
*.vscode
.agollo
